form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: gray;
  margin-bottom: 10px;
}
input {
  max-width: 200px;
}
.form-container {
  margin-left: 10px;
  display: inline-block;
}
label {
  font-size: medium;
}
.btn-div {
  display: flex;
  justify-content: center;
}
