h2 {
  text-align: center;
}
table,
th,
td {
  border: 2px ridge white;
  border-collapse: collapse;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
}
th {
  background-color: rgb(92, 196, 92);
  color: white;
}
